@model List<YouChew.Models.Restaurant>

@{
    ViewBag.Title = "YouChew Geolocator";
}

<html>
<head>
    <script src='http://api.tiles.mapbox.com/mapbox.js/v0.6.6/mapbox.js'></script>
    <link href='http://api.tiles.mapbox.com/mapbox.js/v0.6.6/mapbox.css' rel='stylesheet' />
    <style>
        body { margin:0; padding:0; }
        #map { width:100%; height:400px; }
    </style>
</head>
<body>

<center>
    <h1>YouChew Geolocator</h1>

    <br />
    <br />

    <a href='#' id='geolocate' style="font-size: x-large">Refresh Current Location</a>
</center>

<br />

<div id='map'></div>


<script type="text/javascript">
    var curLat = @ViewBag.Lat;
    var curLng = @ViewBag.Lng;

    var features = [
    @foreach(var item in Model)
    {
        <text>
            {
                "geometry": { "type": "Point", "coordinates": [@item.longitude, @item.latitude]},
                "properties": {
                    "image": "@item.icon",
                    "name": "@item.name",
                    "url": "Restaurant/1",
                    "location": "@item.location",
                    "phone": "@item.phone"
                }
            },
        </text>
    }
    ];

    
    
    // Create the Map
    var m = mapbox.map('map').zoom(2).center({ lat: 0, lon: 0 });
    m.addLayer(mapbox.layer().id('examples.map-4l7djmvo'));

    // Zoom Controls
    m.ui.zoomer.add();
    m.ui.zoombox.add();
    m.zoom(3);

    // Add Marker Layer
    var markerLayer = mapbox.markers.layer();
    m.addLayer(markerLayer);

    var restaurantLayer = mapbox.markers.layer().features(features);
    var interaction = mapbox.markers.interaction(restaurantLayer);
    m.addLayer(restaurantLayer);

    // Add Initial Marker
    m.zoom(11).center({
          lat: curLat,
          lon: curLng
    });
    markerLayer.add_feature({
          geometry: {
              coordinates: [curLng, curLat]
          },
          properties: {
              'marker-color': '#000',
              'marker-symbol': 'star-stroked'
          }
    });

    

    // Add Interaction
    interaction.formatter(function(feature) {
        var o = '<center><a target="_blank" href="' + feature.properties.url + '">' +
            '<img src="' + feature.properties.image + '" width=150px height=150px>' +
            '</a><p><b>' + feature.properties.name + '</b><br/>' +
            'Location: ' + feature.properties.location + '<br/>' +
            'Phone: ' + feature.properties.phone + '</p>' +
            '</center>';

        return o;
    });
 
    // Geolocator
    var geolocate = document.getElementById('geolocate');

    if (!navigator.geolocation) {
      geolocate.innerHTML = 'geolocation is not available';
    } else {
      geolocate.onclick = function(e) {
          e.preventDefault();
          e.stopPropagation();
          navigator.geolocation.getCurrentPosition(
          function(position) {
              m.zoom(11).center({
                  lat: position.coords.latitude,
                  lon: position.coords.longitude
              });
              markerLayer.add_feature({
                  geometry: {
                      coordinates: [
                          position.coords.longitude,
                          position.coords.latitude]
                  },
                  properties: {
                      'marker-color': '#000',
                      'marker-symbol': 'star-stroked'
                  }
              });
          },
          function(err) {
              geolocate.innerHTML = 'position could not be found';
          });
      };
  }
</script>

</body>
</html>
