@model YouChew.Models.Restaurant

@{
    ViewBag.Title = "YouChew - " + Model.name;
}

<html>
<head>
    <script src='http://api.tiles.mapbox.com/mapbox.js/v0.6.6/mapbox.js'></script>
    <link href='http://api.tiles.mapbox.com/mapbox.js/v0.6.6/mapbox.css' rel='stylesheet' />
</head>
<body>

<h2>@Model.name</h2>

<br />

<div style="float: left">
<table>
    <tr>
        <td>
           <div id="map" style="width: 304px; position: relative; height: 238px"></div>
        </td>
        <td valign="top">
            @Model.cuisine
        </td>
    </tr>
    <tr>
        <td>
            <br />
            Location: @Model.location<br />
            Phone: @Model.phone
        </td>
    </tr>
</table>
</div>

<div id="mainPic" ></div>

<div id="morPic" ></div>

<fb:comments xid="@Model.Id" canpost="true" numposts="5" ></fb:comments>

<script type="text/javascript">
    var picStr = "@Model.icon";
    var pictures = picStr.split(",");

    document.getElementById("mainPic").innerHTML = "<img src=\"" + pictures[0] + "\" width=\"200px\" height=\"200px\" />";
    
    for(var i = 0; i < pictures.length; i++)
    {
        document.getElementById("morPic").innerHTML += "<img src=\"" + pictures[i] + "\" width=\"100px\" height=\"100px\" onclick=\"changeImage(\'" + pictures[i] + "\')\" /><br/>";
    }

    function changeImage(url)
    {
        document.getElementById("mainPic").innerHTML = "<img src=\"" + url + "\" width=\"200px\" height=\"200px\" />";
    }
    
    // Create the Map
    var m = mapbox.map('map').zoom(12).center({ lat: @Model.latitude, lon: @Model.longitude });
    m.addLayer(mapbox.layer().id('examples.map-4l7djmvo'));

    // Zoom Controls
    m.ui.zoomer.add();
    m.ui.zoombox.add();

    // Add Marker Layer
    var markerLayer = mapbox.markers.layer();
    m.addLayer(markerLayer);

    // Add Initial Marker
    m.zoom(11).center({
        lat: @Model.latitude,
        lon: @Model.longitude
    });
    markerLayer.add_feature({
        geometry: {
            coordinates: [@Model.longitude, @Model.latitude]
        },
        properties: {
            'marker-color': '#000',
            'marker-symbol': 'star-stroked'
        }
    });
</script>

</body>
</html>