@model IEnumerable<YouChew.Models.Restaurant>

@{
    ViewBag.Title = "Restaurant List";
}

<h2>Restaurant List</h2>

<table>

@foreach (var item in Model)
{
    <tr>
        <td>
            <form method="post" action="Restaurant?venueId=@item.Id">
                <input type="hidden" name="venueID" value="@item.Id" />
                <h2>@item.name</h2>
                <br />
                <input type="image" src="@item.icon" width="50px" height="50px" />
            </form>
        </td>
        <td align="right">
            Location: @item.location <br />
            Phone: @item.phone
        </td>
    </tr>
}

</table>
