@model YouChew.Models.Restaurant

@{
    ViewBag.Title = "YouChew - " + Model.name;
}

<html>
<head>
    <script src='http://api.tiles.mapbox.com/mapbox.js/v0.6.6/mapbox.js'></script>
    <link href='http://api.tiles.mapbox.com/mapbox.js/v0.6.6/mapbox.css' rel='stylesheet' />
</head>
<body>

<h2>@Model.name</h2>

<br />

<div style="float: left" class="my-box">
<table>
    <tr>
        <td>
           <div id="map" style="width: 400px; position: relative; height: 250px"></div>
        </td>
        <td valign="top">
            @Model.cuisine
        </td>
    </tr>
    <tr>
        <td>
            <br />
            @Model.address<br />
            @Model.location<br />
            @Model.phone<br />
            <a href="@Model.website" target="_blank">@Model.website</a><br />
            <br />
        </td>
    </tr>
</table>
</div>

<div style="float: right" class="my-box">
    <table>
        <tr>
            <td style="height: 410px; width: 310px">
                <div id="mainPic" style="text-align:center;"></div>
            </td>
        </tr>
        <tr>
            <td align="center">
                <div id="morPic"></div>
            </td>
        </tr>
    </table>
</div>

<br />
<br />

<fb:comments xid="@Model.Id" href="http://www.youchewfood.com/Restaurant/Restaurant?venueId=@Model.Id" canpost="true" numposts="5" publish_feed="true" width="424px"></fb:comments>

<script type="text/javascript">
    var picStr = "@Model.icon";
    var pictures = picStr.split(",");

    document.getElementById("mainPic").innerHTML = "<img src=\"" + pictures[0] + "\" style=\"max-height: 400px; max-width: 300px; border-style: inset; border-width: 4px;\" />";
    
    for(var i = 0; i < pictures.length; i++)
    {
        if(pictures[i] != null)
        {
            document.getElementById("morPic").innerHTML += "<img src=\"" + pictures[i] + "\" style=\"border-style: dotted; border-width: 2px; margin: 3px; max-height: 50px\" onclick=\"changeImage(\'" + pictures[i] + "\')\" />";
        }
    }

    function changeImage(url)
    {
        document.getElementById("mainPic").innerHTML = "<img src=\"" + url + "\" style=\"max-height: 400px; max-width: 300px; border-style: inset; border-width: 4px;\" />";
    }
    
    // Create the Map
    var m = mapbox.map('map').zoom(12).center({ lat: @Model.latitude, lon: @Model.longitude });
    m.addLayer(mapbox.layer().id('examples.map-4l7djmvo'));

    // Zoom Controls
    m.ui.zoomer.add();
    m.ui.zoombox.add();

    // Add Marker Layer
    var markerLayer = mapbox.markers.layer();
    m.addLayer(markerLayer);

    // Add Initial Marker
    m.zoom(11).center({
        lat: @Model.latitude,
        lon: @Model.longitude
    });
    markerLayer.add_feature({
        geometry: {
            coordinates: [@Model.longitude, @Model.latitude]
        },
        properties: {
            'marker-color': '#000',
            'marker-symbol': 'star-stroked'
        }
    });
</script>

</body>
</html>