@model YouChew.Models.Restaurant

@{
    ViewBag.Title = "YouChew - " + Model.name;
}

<html>
<head>
    <script src='http://api.tiles.mapbox.com/mapbox.js/v0.6.6/mapbox.js'></script>
    <link href='http://api.tiles.mapbox.com/mapbox.js/v0.6.6/mapbox.css' rel='stylesheet' />
</head>
<body>

<h2>@Model.name</h2>

<br />

<div style="float: left">
<table>
    <tr>
        <td>
           <img src="@Model.icon" width="200px" height="200px" />
        </td>
        <td valign="top">
            @Model.cuisine
        </td>
    </tr>
    <tr>
        <td>
            Location: @Model.location<br />
            Phone: @Model.phone
        </td>
    </tr>
</table>
</div>

<div id="map" style="width: 304px; position: relative; height: 238px; float: right"></div>


<script type="text/javascript">
    // Create the Map
    var m = mapbox.map('map').zoom(12).center({ lat: 35, lon: -90.5 });
    m.addLayer(mapbox.layer().id('examples.map-4l7djmvo'));

    // Zoom Controls
    m.ui.zoomer.add();
    m.ui.zoombox.add();

    // Add Marker Layer
    var markerLayer = mapbox.markers.layer();
    m.addLayer(markerLayer);

    // Add Initial Marker
    m.zoom(11).center({
        lat: 35,
        lon: -90.5
    });
    markerLayer.add_feature({
        geometry: {
            coordinates: [-90.5, 35]
        },
        properties: {
            'marker-color': '#000',
            'marker-symbol': 'star-stroked'
        }
    });
</script>

</body>
</html>
