<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="../../Content/bootstrap.css" rel="stylesheet" />
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="../Home">YouChew</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
              <!--<li>@Html.ActionLink("About", "About", "Home")</li>-->
			    <!--<li>@Html.ActionLink("Contact", "Contact", "Home")</li>-->
			    <li>@Html.ActionLink("Users","Index","User_Admin")</li>
                <li>@Html.ActionLink("Restaurants","Index","Restaurant_Admin")</li>
			    <!--<li>@Html.ActionLink("MapsTest", "MapsTest", "ViewTests")</li>-->
			    <li>@Html.ActionLink("Test Area","TestArea","Home")</li>
                <li>@Html.ActionLink("User Info", "Info", "User")</li>
            </ul>
          </div>
        </div>
      </div>
      <div style="float:right;">@Html.Partial("_FacebookPartial")</div>
    </div>
    <div class="container">
        @RenderBody()
    </div>
    @RenderSection("pageScript", false)
    <script src="../../Scripts/bootstrap.js"></script>
</body>
</html>
