<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="../../Content/bootstrap.css" rel="stylesheet" />
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
      #map { width:100%; height:400px; }
    </style>
    <script src='http://api.tiles.mapbox.com/mapbox.js/v0.6.6/mapbox.js'></script>
    <link href='http://api.tiles.mapbox.com/mapbox.js/v0.6.6/mapbox.css' rel='stylesheet' />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="../Home">YouChew</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
				<li class="active">
					@Html.ActionLink("Home", "Index", "Home")
				</li>
                <!--<li>@Html.ActionLink("About", "About", "Home")</li>-->
			    <!--<li>@Html.ActionLink("Contact", "Contact", "Home")</li>-->
			    <!--<li>@Html.ActionLink("Users","Index","User_Admin")</li>-->
                <li class="">@Html.ActionLink("Restaurants","Index","Restaurant_Admin")</li>
			    <!--<li>@Html.ActionLink("MapsTest", "MapsTest", "ViewTests")</li>-->
			    <!--<li>@Html.ActionLink("Test Area","TestArea","Home")</li>-->
                <li class="">@Html.ActionLink("User Info", "Info", "User")</li>
            </ul>
            <div style="float: right;">@Html.Partial("_FacebookPartial")</div>
          </div>
        </div>
      </div>
    </div>
    <div class="hero-unit container">@RenderBody()</div>
    @RenderSection("pageScript", false)
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../Scripts/bootstrap.js"></script>
</body>
</html>
