@model YouChew.Models.FacebookUser
 
@{
    ViewBag.Title = "Facebook Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<h2>Part 2 - Facebook User Details</h2>
 
<table>
    <tr><td>Picture</td><td><img src='@Model.picture.data.url' /></td></tr>
    <tr><td>Facebook Id</td><td>@Model.id</td></tr>
    <tr><td>Email</td><td>@Model.email</td></tr>
    <tr><td>Name</td><td>@Model.name</td></tr>
    <tr><td>Facebook Link</td><td>@Model.link</td></tr>
</table>
